<html>
<head>
    <title>贷款逾期客户仲裁结果</title>
    <meta charset="utf-8">
    <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" href="" />
    <style>
        body{font-family: "黑体";line-height:1.8em;margin: 0px}
        .content{text-align: center;width: 100%;max-width: 640px;min-height: 260px;margin: 0 auto;}
        p{margin: 0px;padding: 0px 10px}
        .content img{
            width: 100%;}
    </style>
</head>
<body>
<div class="content">
    <img src="public/assets/common/images/arbitration.png" alt="仲裁结果">
</div>
</body>
</html>

