


<html>
<head>
    <title>我的消息</title>
    <meta charset="utf-8">
    <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="apple-touch-icon-precomposed" href="" />
    <style>
        body{font-family: "黑体";line-height:1.8em;margin: 0px}
        .content{text-align: center;width: 100%;max-width: 640px;min-height: 260px;margin: 0 auto;}
        .mess-title{font-size: 18px;line-height:2em;padding-top: .5em}
        p{margin: 0px;padding: 0px 10px}
        .mess-content{font-size: 14px;color: hsl(0,0%,60%);text-align: left;line-height: 1.3em}
        .mess-time{font-size: 14px;color: hsl(0,0%,60%);text-align: right}
    </style>
</head>
<body>
<div class="content">
    <p class="mess-title">[[${title}]]</p>
    <p class="mess-content">[[${content}]]</p>
    <p class="mess-time">[[${time}]]</p>
</div>
</body>
</html>

