<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="public/assets/common/css/reset.css">
  <link rel="stylesheet" type="text/css" href="public/assets/common/css/agreement.css">

  <script src="public/assets/common/js/rem.js"></script>
  <title>隐私条款</title>
</head>
<body>
<div class="agreement">
  <p class="font-weight">《用户隐私政策》</p>
  <p style="text-align:center">引言</p>
  <p class="indent font-weight">广州市瑞蚨互联网小额贷款有限公司（以下简称“瑞蚨金服”或“我们”或“本平台”）非常重视用户的隐私和个人信息保护。您在使用我们的产品与/或服务时，我们可能会收集和使用您的相关信息。本隐私政策旨在帮助您了解以下内容：</p>
  <p>1、	当您使用本平台服务时，我们如何收集您的个人信息以及收集范围；</p>
  <p>2、	我们如何使用cookies等技术；</p>
  <p>3、	我们如何使用您的个人信息；</p>
  <p>4、	我们如何保护、存储您的个人信息；</p>
  <p>5、	在何种情况下我们会披露您的个人信息；</p>
  <p>6、	对第三方责任的声明；</p>
  <p>7、	本协议的更新及适用；</p>
  <p>8、	其他与本协议约定内容相关的事宜。</p>
  <p class="indent"><span class="font-weight up_line"> 您应完整地阅读本协议条款，特别是以下划线、加粗等方式标注与您的权益存在或可能存在重大关系的部分，以帮助您了解维护自己隐私权的方式</span>。您点击类似"同意并继续"按钮等操作后，即表示您已同意授权被授权人按照本协议来合法使用和保护您的个人信息。</p>
  <p class="font-weight">被授权人：广州市瑞蚨互联网小额贷款有限公司</p>
  <p class="indent">为表述之便利，下文中“瑞蚨金服”、“我方”、“我们”即指代上述全部被授权方。</p>
  <p class="font-weight">第1条 信息收集</p>
  <p class="indent">为了更好的向您提供服务及改善服务质量、履行法定义务（如反洗钱义务、实名制管理、用户适当性管理等）、对业务进行风险评估和防范安全风险的考虑，如您选择使用了瑞蚨金服及其关联方、合作方提供的任意一项或多项服务，瑞蚨金服会根据提供服务的不同情形持续收集、使用您的不同个人信息，具体如下文所述。如您拟选择使用任意一项服务，但不愿提供对应的用户个人信息，则您将无法使用该服务，且在此种情况下，也请您勿要使用该服务。</p>
  <p class="indent font-weight">瑞蚨金服将逐步提供和完善“瑞e生活”产品和服务功能，以改善您使用产品的体验。您知悉并接受，本协议所提及的产品及服务，是“瑞e生活”产品中现有，或者在未来上线的功能，瑞蚨金服不承诺产品和服务项目、上线日期及实现功能的范围，并可能在产品和服务上线后对功能进行不定期修改或取消，而无需通知您。</p>
  <p>(1）用户注册及账户安全</p>
  <p class="indent">您使用瑞蚨金服及其关联方、合作方在“瑞e生活”APP上提供的任意服务的前提为，您首先需要注册“瑞e生活”账户成为瑞蚨金服用户。<span class="font-weight up_line">当您注册时，您需要至少向我们提供您本人的手机号码、注册验证码、并设置您个人账号密码。当您选择用瑞刷APP、瑞和宝APP、瑞银信app、瑞易生活app、微信、微博、QQ等其他第三方登录方式登录时，您应授权我们获得您在第三方平台的信息。</span></p>
  <p class="indent">当您获得瑞蚨金服平台账户后，基于账户安全保护的需要，您需授权我们收集并使用如下信息：<span class="font-weight up_line">在您使用瑞蚨金服产品服务，或访问瑞蚨金服产品时，瑞蚨金服自动接收并记录的您的浏览器和手机／计算机上的信息，包括但不限于您的宽带类型、设备指纹、IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；</span></p>
  <p>（2）智能账单管理</p>
  <div class="indent font-weight up_line">
    <p>a.  您如希望使用银行卡账单管理服务，您需要绑定拟被管理的银行卡并授权瑞蚨金服定期通过邮箱或网银方式导入该张卡片的账单信息，以向您展示账单管理结果。当您绑定银行卡时，您应向瑞蚨金服提供您的银行卡卡号、姓名、身份证号、预留手机号。当您通过邮箱导入账单时，您授权我们定期收集您的信用相关信息并在平台上对您本人展示您的账单管理结果，信息包括但不限于如下：银行卡账号、开户行、发件人、主题、标题、邮件收发时间、邮箱通讯录列表、所在文件夹，以及根据关键字在用户“收件箱”、“已发送”、“群邮件”内邮件进行匹配，包括银行电子账单的全部信息、数据等；</p>
    <p>当您通过网银导入账单时，您授权我们定期收集您的信用相关信息并在平台上对您本人展示您的账单管理结果，信息包括但不限于如下：身份证号、客户号、用户名、卡片信息（储蓄卡／信用卡卡号、账户名、开户行）、交易流水、逾期信息等；</p>
    <p>您知悉并确认授权瑞蚨金服查询、整理、分析、使用您的银行卡信息可能会涉及到您的收入、消费情况等个人信息被采集，用于账单管理服务、借贷申请服务和其他您在本协议或其他协议中明确授权的用途，且授权可能会产生各种不利后果，包括但不限于贵司向中国人民银行征信服务中心或依法设立的征信机构报送本人相关信用信息。</p>
    <p>b.  如您希望使用生活账单管理服务，包括但不限于房贷、车贷及其他贷款类账单、手机费、宽带费、水电煤缴费类账单、房租、物业、保险、投资理财、公积金账单等，您可根据本平台在您使用该类服务当时所能提供的具体账单管理类目，选定具体待管理账单类目后手动输入（或选择）对应账单信息和页面要求您提供的信息，并根据提示进行还款时间提醒等设置。您应授权我方收集您提供的账单信息，才可使用该类生活账单管理服务：</p>
    <p>使用借贷平台账单管理服务时，您可通过登录第三方借贷平台或截取账单图片的方式向我方导入您的账单信息，您授权我们收集如下信息并展示账单管理结果：第三方借贷平台借贷记录、借款金额、还款记录、应还金额、应还日期等；</p>
    <p>c.   除此之外，您还可以手动输入其他类型账单，如您希望享受自定义账单管理服务，您应授权我们收集您提供的如下信息：开户行、卡号、姓名、账单日、还款日、信用额度、账单金额。</p>
  </div>
  <p>（3）借款申请入口提供</p>
  <div class="indent font-weight up_line">
    <p>当您希望通过瑞蚨金服平台提供的借款和其他信用服务申请入口，进行额度激活申请、借款或其他信用服务申请时，基于网络借贷交易安全及合规需要，您授权我们收集您的身份信息、联系地址、职业信息、联系人联系方式、历史借贷情况、设备及位置信息、通话记录及短信记录相关信息、银行卡账单信息等，该等信息将仅用于您申请借款或其他信用服务相关用途；</p>
    <p>同时，如非瑞蚨金服为您提供该服务，您还应授权您选择的该项服务的提供者根据与您签订的隐私政策收集、使用您的个人信息，并授权该项服务提供者向瑞蚨金服传递您的借款记录，用于在瑞蚨金服平台前端向您本人展示您的借款信息。且您亦应授权瑞蚨金服根据在该特定服务下与您另行签订的信息授权服务相关协议的具体约定，另行收集并按照协议约定目的使用您的相关个人信息。</p>
  </div>
  <p>（4）资讯评论</p>
  <p class="indent">如您希望对瑞蚨金服提供的资讯或其他用户的言论、观点进行评论时，根据相关法律法规要求，您首先应进行实名认证，即您应向我们提供您的手机号码等信息，且您授权我们收集并检测您所发布的言论是否有违反相关法律法规的规定。</p>
  <p>（5）信用卡还款
  <p class="indent">如您希望通过瑞蚨金服合作的支付机构或信贷类机构实现信用卡还款服务，则您应授权我们收集您的提供拟还款的银行卡号、开户行、还款金额、还款日期信息，用于记录您的还款并进行账单管理。</p>

  <p>（6）其他途径</p>
  <p class="indent"> 瑞蚨金服为了更好地单独或与商业伙伴合作为您提供服务，经您授权通过合法途径从商业伙伴处获取的其他您的个人信息。</p>
  <p class="font-weight">第2条 除外信息</p>
  <p>（1）用户了解并同意，以下信息不适用本条款：</p>
  <p>a.用户在使用瑞蚨金服提供的搜索服务时输入的关键字信息；</p>
  <p>b.瑞蚨金服收集到的用户在瑞蚨金服发布的有关信息数据，包括但不限于参与活动、成交信息及评价详情；</p>
  <p>c.用户违反法律规定或违反瑞蚨金服规则的行为及瑞蚨金服已对用户采取的措施。</p>
  <p>（2）您充分知晓，以下情形中，我们收集、使用个人信息无需征得您的授权同意：</p>
  <p>a.与国家安全、国防安全有关的；</p>
  <p>b.与公共安全、公共卫生、重大公共利益有关的；</p>
  <p>c.与犯罪侦查、起诉、审判和判决执行等有关的；</p>
  <p>e.出于维护您或他人的生命、财产等重大合法权益但又很难得到您本人同意的；</p>
  <p>f.所收集的个人信息是您自行向社会公众公开的；</p>
  <p>g.从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
  <p>h.根据您的要求签订合同所必需的；</p>
  <p>i.用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；</p>
  <p>j.为合法的新闻报道所必需的；</p>
  <p>k.学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
  <p>l.法律法规规定的其他情形。</p>
  <p class="font-weight">第3条  信息使用</p>
  <p class="indent">瑞蚨金服将以高度的勤勉、审慎义务对待您的个人信息，您授权并同意瑞蚨金服在为您提供的服务期间，将持续收集到的您的个人信息用于以下用途：</p>
  <div class="indent font-weight up_line">
    <p>（1）将信息进行整合和处理，以便更好地为用户提供服务，并依此对瑞蚨金服服务进行改进；</p>
    <p>（2）比较信息的准确性并与第三方进行验证，例如，将用户向我们提交的身份信息与身份验证的服务机构进行验证；</p>
    <p>（3）基于您选择服务所需的支付、开户、交易资金划扣要求，将您的银行卡号、开户行、支付金额、支付日期、姓名、身份证号码、手机号码等相关信息提供至平台合作的银行／支付机构等金融机构或其他相关合作机构；</p>
    <p>（4）基于为您提供借贷服务时进行信用评估、贷后管理、催收等服务用途，使用您的身份信息、联系地址、职业信息、联系人联系方式、历史借贷情况、设备及位置信息、通话记录及短信记录相关信息、银行卡账单信息；或将上述信息提供给瑞蚨金服的合作公司仅用于协助进行信用评估、贷后管理和催收等服务。当您使用瑞蚨金服提供的入口向合作平台申请借贷时，您授权瑞蚨金服将您的个人信息及交易信息提供至该合作平台，以便您顺利在该合作平台上进行借贷活动或便于该合作平台为您提供贷后管理等其他服务；</p>
    <p>（5）为服务用户的目的，瑞蚨金服可能通过使用用户的个人信息，向用户提供用户感兴趣的通知、营销活动及其他商业性电子信息；</p>
    <p>（6）在收集您的个人信息后，我们将通过技术手段对数据进行去标识化处理，去标识化处理的信息将无法识别主体。请您了解并同意，在此情况下我们有权使用已经去标识化的信息；并在不透露您个人信息的前提下，我们有权对用户数据库进行分析并予以商业化的利用;</p>
    <p>（7）我们会对我们的产品与/或服务使用情况进行统计，并可能会与公众或第三方共享这些统计信息，以展示我们的产品与/或服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。</p>
    <p>（8）经用户明确同意并授权的其他用途；</p>
  </div>
  <p class="indent">除本协议或其他您与瑞蚨金服之间的协议约定和相关法律规定外，瑞蚨金服不会向任何无关第三方提供、出售、出租、分享或交易用户的个人信息；瑞蚨金服亦不允许任何第三方以任何手段收集、编辑、出售或者传播用户的个人信息。任何瑞蚨金服用户如从事上述活动，一经发现，瑞蚨金服有权立即终止与该用户的服务协议。</p>
  <p class="font-weight">第4条  信息保护</p>
  <p class="indent">瑞蚨金服致力于取得和维护您对我们的信任，采取商业上合理的技术和其他措施，防止用户的个人信息的丢失和被盗用，并定期对个人信息的保护情况进行自查，记录自查情况，及时消除自查中发现的安全隐患。为尽可能地保护您的个人信息安全，瑞蚨金服提请用户注意：</p>
  <p>（1）请妥善保管您的用户名及密码信息，瑞蚨金服会通过您的用户名及其他身份要素识别您的身份，一旦您泄漏了前述信息，您可能会蒙受损失，并对您产生不利法律后果。瑞蚨金服将通过对用户密码进行加密等安全措施确保用户的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请用户注意在信息网络上不存在“完善的安全措施”，用户信息仍存在丢失 、被盗用的可能，非因瑞蚨金服过错发生上述情况，瑞蚨金服不承担任何责任。</p>
  <p>（2）在使用瑞蚨金服服务进行网上交易时，用户不可避免地要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是瑞蚨金服用户名及密码发生泄露，请您立即联络瑞蚨金服客服，以便瑞蚨金服采取相应措施以避免或降低您的相关损失。</p>
  <p>（3）瑞蚨金服将在相关法律法规规定的合理期限内，在瑞蚨金服的境内服务器上对收集的有关用户的信息和资料予以妥善保存。</p>
  <p class="font-weight">第5条  信息披露</p>
  <p class="indent">瑞蚨金服将对用户提供的信息严格保密，对瑞蚨金服与之共享个人信息的公司、组织和个人，瑞蚨金服会与其签署严格的保密协议，要求他们按照保密协议等约定履行不低于本平台对用户承诺的保密义务，同时要求其获得授权并采取相应的保密和安全措施来处理、使用、保存您的个人信息。除具备下列情形之一外，瑞蚨金服不会向任何外部机构披露：</p>
  <p>（1）经过用户事先同意而披露，即在获得用户同意的情况下，瑞蚨金服才会对外披露用户的个人信息；</p>
  <p>（2）应法律法规或公权力部门要求而披露，即瑞蚨金服可能会根据法院、政府部门、上级监管机构等执法机构或法律法规的要求向其披露用户的个人信息；</p>
  <p>（3）当瑞蚨金服涉及合并、收购或资产出售等重大交易时，瑞蚨金服有权依据交易的需要将用户信息提供给交易相对方及交易各方聘请的各中介机构(包括但不限于律师、会计师等)，会在任何个人信息进行转让或受其他隐私权政策约束之前，继续确保其保密性并对受到影响方进行及时通知。</p>
  <p>（4）保护瑞蚨金服和其他方利益，即瑞蚨金服可能会为了保护瑞蚨金服自身，瑞蚨金服员工和客户、瑞蚨金服合作伙伴和其他公众的合法权利、利益和安全而披露用户的个人信息。</p>
  <p>（5）建立信用体系，用户同意并授权瑞蚨金服向依法设立的第三方征信／信用服务机构提交用户在贷款业务中产生的相关信息，包括个人基本信息、借贷交易信息、反映个人信用的其他信息，记录在征信机构建设的个人信用信息数据库中。</p>
  <p>（6）用户同意并授权瑞蚨金服将用户的不良信息发送征信／信用服务机构且不再另行通知。</p>
  <p class="font-weight">第6条 第三方说明</p>
  <p class="indent">为了更好地为您提供服务，瑞蚨金服会展示商业伙伴等第三方网站链接和信息，当用户查看第三方创建的网页或使用第三方开发的应用程序时，请务必注意这些第三方主体拥有不同于瑞蚨金服的信息保护政策。瑞蚨金服会尽商业上的合理努力去要求该第三方对用户的个人信息采取保护措施，但瑞蚨金服无法保证该第三方一定会按照瑞蚨金服的要求采取保护措施，亦不对该第三方的行为及后果承担任何责任。如果您发现这些第三方创建的网页或第三方开发的应用程序存在风险时，建议您终止相关操作以保护自身的合法权益。</p>
  <p class="font-weight">第7条  Cookies和Beacon的使用</p>
  <p>（1）在您未明确拒绝接受cookies的情况下，瑞蚨金服会在用户的客户端设定或取用cookies，以便用户能登录或使用依赖于cookies的瑞蚨金服服务或功能。瑞蚨金服使用cookies可为用户提供更加周到的个性化服务，包括推广服务。“瑞e生活”平台可能还包含一些电子图像（以下简称“网络Beacon”）,瑞蚨金服或其关联方、合作方可能会通过网络Beacon收集您浏览网页活动的信息。</p>
  <p>（2）您有权选择接受或拒绝接受cookies。您可以通过修改设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的瑞蚨金服网络服务或功能。</p>
  <p>（3）通过瑞蚨金服所设cookies所取得的有关信息，将适用本条款。</p>
  <p class="font-weight">第8条 未成年隐私权的特别约定</p>
  <p class="indent">未成年人应在父母或监护人指导下使用各项服务。瑞蚨金服将依据国家法律法规的规定保护未成年人的信息安全性。如果您是未成年人，您应和您的父母及监护人阅读本政策，并在监护人或父母的同意前提下使用“瑞e生活”平台的产品和服务以及提供您的信息。如果您的监护人不同意您按照本协议约定使用服务和提供信息，请您立即终止使用服务，并及时通知瑞蚨金服，以便瑞蚨金服采取相应措施。如果您的监护人对您个人信息处理存在疑问，请及时拨打瑞蚨金服客服电话联系我们。</p>
  <p class="font-weight">第9条 条款更新及用户关注义务</p>
  <p class="indent">您在此确认知悉并同意，瑞蚨金服有权依据国家法律法规及运营需求对本协议条款不时地进行修改。瑞蚨金服如更新本协议相关条款，将采用在网页公告、App推送或本协议主体第八条“通知及法律文书送达”条款约定的通知方式，通知用户该等修改、增加或删减的内容，以便用户随时了解瑞蚨金服对用户个人信息资料的收集和使用方法。一经公告，即视为上述内容已经通知到用户。若您在本协议及各类规则变更后继续使用瑞蚨金服服务的，视为用户已仔细认真阅读、充分理解并同意接受修改后的协议条款及各类规则。</p>
  <p class="indent">您有义务不时关注并阅读最新版的协议及网站公告、App推送或本协议约定的方式通知等。如用户不同意更新后的协议，可以且应立即停止接受瑞蚨金服依据本协议提供的服务。</p>
  <p class="font-weight">第10条 法律管辖和适用</p>
  <p>（1）如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
  <p>（2）本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。若用户和瑞蚨金服就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，双方应将纠纷或争议提交瑞蚨金服所在地广州市越秀区人民法院管辖。</p>

</div>
</body>
</html>