<!DOCTYPE html>
<html>
<head>
	<title>瑞蚨金服-企业介绍</title>
  <meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
		<b>广州市瑞蚨互联网小额贷款有限公司（以下简称“瑞蚨金服”）成立于2017年1月，注册资金2.5亿，总部设于北京。</b><br><br>
		<b>瑞蚨金服是专注互联网小额贷款的新锐平台，于2017年3月在广州市取得互联网小贷牌照。</b><br><br>
		<b>核心管理团队有商业银行资深高管、国内知名金融公司专家、海归精英组成。</b><br><br>
		<b>瑞蚨金服自成立以来便一直致力于为中小微型企业及个人客户提供安全、普惠、便捷、灵活的无担保、纯信用小额贷款服务，助力普惠大众释放信用价值，满足融资需求。</b>


</body>
</html>